html {
  height: 100%;
}

body {
  background: linear-gradient(darkslategray, darkorange);
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 15px;
  bottom: 0;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  height: 240px;
  left: 0;
  margin: auto;
  padding-bottom: 70px;
  padding-top: 70px;
  position: absolute;
  right: 0;
  top: 0;
  width: 480px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 36px;
  margin-top: 0;
}

span {
  display: block;
  font-size: 32px;
  font-weight: 200;
  line-height: 1em;
  margin-bottom: 64px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: block;
  height: 60px;
  text-indent: -10000px;
  transition: transform 0.1s ease-in;
  width: 60px;
}

a:hover {
  transform: translateY(-5px);
  opacity: 1;
  transition: transform 0.1s ease-in;
}

#github {
  background: url("../images/github.png") 0 0 no-repeat;
  background-size: cover;
  margin-right: 60px;
}

#linkedin {
  background: url("../images/linkedin.png") 0 0 no-repeat;
  background-size: cover;
  margin-right: 60px;
}

#twitter {
  background: url("../images/twitter.png") 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 559px) {

  main {
    border-radius: 9px;
    bottom: 19px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    height: 150px;
    padding-bottom: 45px;
    padding-top: 45px;
    width: 300px;
  }

  h1 {
    font-size: 27px;
    margin-bottom: 23px;
  }

  span {
    font-size: 20px;
    margin-bottom: 40px;
  }

  a {
    height: 38px;
    width: 38px;
  }

  a:hover {
    transform: none;
  }

  #github,
  #linkedin {
    margin-right: 38px;
  }

}
